@using OtoSoft.Plant.Entities.DTOs.Complaint
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@model List<ComplaintDto>

    <table class="table table-hover">
    <thead>
        <tr>
            <th>Complaint Id</th>
            <th>Complaint Name</th>
            <th>Complaint Description</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var complaint in Model)
        {
            <tr>
                <td>@complaint.Id</td>
                <td>@complaint.Name</td>
                <td>@complaint.Description</td>
            </tr>
        }
    </tbody>
</table>

